{{!< default}}

    <header id="header" data-url="http://7xiu3q.com1.z0.glb.clouddn.com/bg.png" class="home-header blog-background banner-mask lazy {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
        <div class="header-wrap">
          <div class="home-info-container">
              <h2>Stay Hungry, Stay Foolish.</h2>
              <h4>求知若饥，虚心若愚</h4>
          </div>
          <div class="arrow_down" data-offset="-45">
                 <a href="javascript:;"></a>
          </div>
        </div>
    </header>
{{! The main content area on the homepage }}
<main id="main" class="content homepage" role="main">
{{! Each post will be output using this markup }}
{{> "loop"}}
{{!! After all the posts, we have the previous/next pagination links }}

{{!-- {{pagination}} --}}
</main>
